
  
  form input,
  
  form select {
  
    padding: 0.5rem;
  
    border-radius: 0.5rem;
  
    border: 1px solid #ccc;
  
    font-size: 1.1rem;
  
  }
  
  
  form button {
    padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease; 
  margin-bottom: 2px; 
  
  }
  
  
  form button:hover {
    border: 1px solid #7380ec;
    background-color: #f8fafd;
    color: #7380ec;
  
  }

  @media (max-width: 768px) {
    .form .row {
      flex-direction: column;
    }
  
    .form .row .column {
      width: 100%;
    }
  
    .form .buttons {
      flex-direction: column;
    }
  
    .form .buttons .add-button {
      margin-bottom: 1rem;
    }
  }