.container {
  display: flex;
  min-height: 100vh;
}


#addemployee{
  padding-left: 38px;
    padding-bottom: 30px;
    color: var(--clr-primary);
}

.fom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  height: 75%;
  width: 70%;
  padding-top: 30px;
  transition: all 0.3s ease;


  background-color: var(--clr-white);
  padding: var(--card-padding);
  text-align: center;
  transition: all 0.3s ease;
  /* color: var(--clr-dark); */
}

.row {
  display: flex;
  gap: 2rem;
}

.column {
  flex: 1;
}

.row input,
.row select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

.row4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.row4 .column {
  flex-basis: calc(33.33% - 0.5rem); 
}

.row4 label {
  margin-bottom: 0.5rem;
}

.row4 select {
  width: 100%;
}


select#branch,
select#employmentType,
select#gender {
  font-size: small;
  color: rgba(0, 0, 0, 0.531);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.addbtn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease; 
  margin-bottom: 2px; 
  
}

.addbtn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}

.cancelbtn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease; 
  margin-bottom: 2px; 
  
}

.cancelbtn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}


/* Responsive styles */
@media (max-width: 768px) {
  .fom .row {
    flex-direction: column;
    gap: 1.5rem;
  }

  .fom .row .column {
    width: 100%;
  }

  .fom .buttons {
    flex-direction: column;
    align-items: flex-end;
  }

  .fom .buttons .add-button {
    margin-bottom: 1rem;
  }
}
