.container {
  display: flex;
  min-height: 100vh;
}

/* Main section */
main {
  flex: 1;
  padding: 2rem;
}

h1 {
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.add-project-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--box-shadow); 
  border-radius: var(--card-border-radius);
  height: 82%;
  padding-top: 30px;
  width: 70%;
  transition: all 0.3s ease;
  background-color: var(--clr-white);
  padding: var(--card-padding);
  text-align: center;
}

.add-project-row {
  display: flex;
  gap: 2rem;
}

.add-project-column {
  flex: 1; 
}

.add-project-row input,
.add-project-row textarea {
  width: 100%; 
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc; 
  font-size: 1.1rem; 
}

.add-project-buttons {
  display: flex;
  justify-content: center; 
  gap: 1rem;
  margin-top: 1.5rem;
}
