
  .delete-btn{
    padding: 5px 10px;
    background: rgb(234, 76, 76);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .delete-btn:hover{
    border: 1px solid red;
    color: black;
    background-color: white;
    
  }
.submit-btn {
    margin-right: 10px; 
}
.employee_details input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.status-pending {
  color: #ffc107; 
}

.status-approved {
  color: #28a745; 
}

.status-denied {
  color: #dc3545; 
}
.show-description-btn {
  padding: 5px 10px;
  background: rgb(107, 192, 107);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}




.submit-btn:hover {
  background: #ddd;
}
.leaveType-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}