

.project-stats {
  display: flex;
  gap: 50px;
  margin-bottom: 62px;
  padding-left: 38px;
}

.stat-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stat-btn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}

.employee_details {
  padding: 20px;
}

.srh-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 38px;
  margin-top: -56px;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.search input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 10px;
}

.add-project-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.add-project-btn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}
.edit-btn,
.delete-btn {
  padding: 5px 10px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.edit-btn {
    margin-right: 10px; 
}


.edit-btn:hover,
.delete-btn:hover {
  background: #ddd;
}

.status-dropdown {
  position: relative;
  display: inline-block;
}

.status-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.status-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.status-options .status-option {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.status-options .status-option:hover {
  background-color: #ddd;
}

.status-dropdown .show {
  display: block;
}

.status-message {
  color: green;
  font-size: 12px;
  margin-top: 5px;
}
