.mytask {
   border: 2px solid green;
   width: 100%;
   display: flex;
   justify-content: space-between;
   height: 50vh;
   border-radius: 20px;
}

.mytask .lef {
   width: 40%;
   height: 30vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.mytask .mid {
   width: 40%;
   height: 30vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.mytask .rig {
   border: 2px solid green;
   width: 40%;
   height: 30vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.upcoming_tasks h4 {
   height: 50px;
   width: 40vh;
   border-radius: 7px;
   margin-bottom: 20px;
   padding-top: 10px;
   font-size: large;
   padding-left: 10px;
   background: #7380EC;
   cursor: pointer;
   color: #fff;
   font-weight: 400;
   transition: all 0.3s;
}
.upcoming_tasks h4:hover{
border: #7380EC solid 2px;
background-color: #fff;
color: #7380EC;
}
.upcoming_tasks {
   background-color: #fff;
   padding: 40px;
  height: 115%;
}

.Above {
   display: flex;
   float: right;
   margin-bottom: 20px;
}

.Above img {
   width: 30px;
   height: 30px;
   cursor: pointer;
   margin-left: 20px;
   border-radius: 50%;
}

.mainn h1 {
   margin-top: 45px;
}

.gm p {
   margin-top: 20px;
   font-size: 35px;
}

.gm h2 {
   color: #7380EC;
   margin-top: 40px;
   margin-bottom: -80px;
}

.emp {
   display: flex;
   padding: 15px;
   margin-bottom: 30px;
}

.emp h3 {
   font-size: 20px;
   padding: 10px;
}

.emp img {
   border-radius: 50%;
   width: 60px;
   height: 60px;
   background: rgb(201, 199, 199);
}

.rnd {
   margin-top: 20vh;
   
}

.emp2 p {
   margin-top: -10px;
   margin-left: 1.5vh;
}

.tasks {
   display: flex;
   flex-direction: column;
   background-color: var(--clr-white);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 1rem;
   box-shadow: var(--box-shadow);
   transition: all 0.3s ease;
}

main .tasks:hover {
   box-shadow: none;
}

.table_head h2 {
   background: #d3d3d5;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.bar_info {
   display: flex;
   gap: 25vh;
   padding: 10px;
}
.bar_info p{
   text-align: justify;
   margin-top: 20px;
   margin-right: 23px;
}

.tasksleft {
   display: flex;
   gap: 20vh;
   margin-top: 10px;
   padding: 10px;
   margin-bottom: 10px;
}

.tasksleft h3 {
   margin-left: 35px;
}

.tasksleft input {
   margin-left: 10vh;
   border: 1px solid black;
   width: 15vh;
   color: #ff7a00;
}

.tasksleft input::placeholder {
   color: #ff7a00;
}

.alltasks h2 {
   cursor: pointer;
   background: none;
   font-weight: 400;
   text-align: center;
   padding: 10px;
   font-size: large;
   color: #1045ff;
   text-decoration: underline;
}

hr {
   margin: auto;
   height: 1.5px;
   width: 160vh;
   background: black;
}

.alltasks hr {
   margin: auto;
   height: 1px;
   width: 100vh;
   background: black;
}

.rnd {
   margin-top: 70px;
}

h4 img {
   width: 32px;
   float: right;
   margin-right: 10px;
}

.hrs h2 {
   margin-bottom: 25px;
}

.chart_hrs {
   display: flex;
   gap: 5vh;
   padding: 20px;
   margin-top: 20px;
}

.chart_hrs img {
   width: 75vh;
}

.working_hour {
   border: solid 2px black;
   border-radius: 8px;
   max-width: 110vh;
   margin: auto;
   margin-top: 10px;
}

.tasks {
   border: solid 2px black;
   border-radius: 8px;
   max-width: 110vh;
   margin: auto;
   margin-top: 115px;
   background-color: var(--clr-white);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 1rem;
   box-shadow: var(--box-shadow);
   transition: all 0.3s ease;
}

.tasks .table_head h2 {
   background: #7380EC;
   color: #fff;
   padding: 1rem;
   
   border-radius: 10px;
}

/* Sidebar hover effect */
.sidebar a:hover {
   background-color: hsl(0, 0%, 100%); /* Change background color on hover */
   font-weight: bold; /* Make text bold on hover */
}
