.project-stats {
  display: flex;
  gap: 10px;
  margin-bottom: 100px; /* Adjusted margin to shift everything down */
  padding-left: 38px;
  padding-top: 5px; /* Added padding to create space */
}
#employee {
  color: #808080; /* Grey color */
  font-size: 18px; /* Reduced font size */
  margin-top: 70px; /* Adjusted margin to shift it down */
  font-weight: bold; /* Remove bold style */
}



.stat-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stat-btn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}

.employee_details {
  padding: 20px;
}

.srh-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 38px;
  margin-top: -56px;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.search input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 10px;
}

.add-project-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.add-project-btn {
  padding: 10px 20px;
  background: #7380ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease; /* Add transition for smoother hover effect */
  margin-bottom: 2px; /* Adjust the margin-bottom to move the button higher */
}

.add-project-btn:hover {
  border: 1px solid #7380ec;
  background-color: #f8fafd;
  color: #7380ec;
}

.add-project-btn .material-symbols-outlined {
  margin-right: 5px; /* Adjust the margin-right to add space between the icon and text */
}


.edit-btn{
  padding: 5px 10px;
  background: rgb(107, 192, 107);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.save-btn, .open-btn{
  padding: 5px 10px;
  background:rgb(107, 192, 107);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.edit-btn {
  margin-right: 10px;
}

.edit-btn:hover, .open-btn:hover{
  background: white;
  border: 1px solid green;
  color: black;
}
.save-btn:hover{
  background: white;
  border: 1px solid green;
  color: black;
}
.save-btn {
  margin-right: 10px;
}
.open-btn {
  margin-right: 10px;
}
