.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .popup {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width */
    height: auto;
  }
  
  .popup h2 {
    margin-bottom: 20px;
  }
  
  .popup select {
    width: calc(50% - 5px); /* Set width to 50% of the container minus margin */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .popup select:first-child {
    margin-right: 10px; /* Add margin between the two selects */
  }
  
  .popup textarea {
    width: 100%;
    height: 150px; /* Adjust height as needed */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
  }
  
  .popup .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .popup button {
    padding: 12px 24px; /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .popup button:nth-child(2) {
    background-color: #ff0000;
    color: white;
  }
  
  .popup button:nth-child(1) {
    background-color: #4caf50;
    color: white;
  }
  