 *{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  background-color: white; 
  box-sizing: border-box;
}

.content {
  display: flex; 
  justify-content: center;
  max-width: 800px;
  background-color: transparent; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.picture {
  flex: 1.3; 
  overflow: hidden; 
  width: 70%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.picture img {
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 90vh;
}

.form {
  flex: 1; 
  display: flex;
  align-items: center;
  padding-left: 20px;
background-color: #f8fafd;
}

.login-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_login {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translateX(80%);
  background-color: transparent;
}

.logo img {
  width: 100%;
  height: auto;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3; 
}  
.forgot-password {
  font-size: 12px;
  cursor: pointer;
  padding-left: 90px;
  padding-bottom: 10px;
}




